
/*====================================================ALL====================*/

:root {


    --backgroud-color: #1E252B;
    --blur: blur(25px);
    --text-main-color: rgba(255, 255, 255, 0.55);
    --white-color: rgba(255, 255, 255, 0.9);
    --accent-color: rgba(255, 110, 48, 1);
    --dark-orange-for-cards: rgba(255, 165, 55, 0.55);
    --dark-orange-for-cards-hover: rgba(255, 165, 55, 1);
    --gold:#FFA537 ;



    --second-font: "Roboto", sans-serif;

}


li {
    list-style-type: none;

  }          


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-color);
    font-family : "Poppins", sans-serif;

    
}

.container {
    border-color: var(--gold);
border: solid;
    margin: 0 auto;
    max-width: 1245px;

    padding: 15px;
}


a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
}


/*===================================================HEADER=================================*/

.logo{

    color: var(--white-color);
    font-family: var(--main-font);
    font-size: 22px;
  
    font-weight: 600;
    line-height: 1,5;


}


.nav-bar {
    justify-content: space-between;
    align-items: center;
}




.logotype-wrap {
    gap: 22px;
}



.header-list {
    gap: 45px;
}



.header-list-item {
    color: var(--text-main-color); 
    font-size: 16px;
    
    font-weight: 500;
    line-height: 1.5;
}


.header-list-item:hover {
    color: var(--white-color);
}


button {
    width: 118px;
    height: 48px;
    color: var(--text-main-color);
    font-size: 16px;
   
   font-weight: 600;
    line-height: 1.5;
    border: none;
    border-radius: 8px;
    background: var(--backgroud-color);
    text-align: center;
}

button:hover {
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    transition: 0.7s;
    cursor: pointer;
}





.header-list {
    gap: 45px;
}



/*=====================================================MAIN=(1section)===============================*/


.hero {
    margin-top: 115px;
}


.background-section-hero {
    background-image: url(/img/img-section-hero.png);
    background-repeat: no-repeat;
    background-position: right;
}




.wrapper-section-hero {
    justify-content: space-between;
    gap: 140px;
}


.text-block-section-hero {
    width: 600px;
}


.tittle{
    color: var(--white-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
}

.orange-point {
    color: var(--accent-color);
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
}


.hero-heading{
    margin-top: 30px;
    color: var(--text-main-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}


.input-wrapper {
    margin-top: 60px;
    height: 65px;
    padding: 18px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: var(--backgroud-color);
    justify-content: space-between;
    align-items: center;
    width: 450px;
}


.hero-image{
    width: 24.08px;
    height: 24px;
    flex-shrink: 0;
}


.hero-input{
    color: var(--text-main-color);
    padding: 15px;
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    background: var(--backgroud-color);
}

.input-wrapper input:focus {
    outline: none;/*забираэ обводку в пошуковому полі при нажиммані там */
}

.search-button {
    border-radius: 8px;
    background: var(--accent-color);
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
}


.hero-social-image{
    margin-top: 120px;
    gap: 30px;
}



/*================================================SECTION 2(popular-tools)======================================================*/




.popular-tools{margin-top: 210px;}







.popular-tools h2 {
    color: var(--white-color);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;

}




.popular-tools h3 {
    color: var(--text-main-color);
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}



.cards {
    margin-top: 90px;
}



.card-list {
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 auto;
    padding: 0 ;
    gap: 11px;
}





.card-list-item {
    width: 392px;
    padding: 33px;
    height: 294px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--backgroud-color);
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    cursor: pointer;
}



.card-list-item:hover {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(40, 48, 54, 0.60);
    background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 25%);
    backdrop-filter: blur(100px);
    transform: translateY(-20px);
    transition: 0.3s;
}



.card-list-item:hover h3 {
color: rgba(255, 255, 255, 90%);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}



.card-list-item:hover h4 {
    color:  rgba(255, 165, 55, 100%);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}



.card-list-item:hover p {
    color: rgba(255, 255, 255, 78%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}




.card-list-item:hover .card-images-wrapper p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--accent-color);
    transition: 0.5s;
}






.card-text-about-apps img {
    margin-right: 30px;
}



.card-text-about-apps-wrapper {
    flex-direction: column;
}





.card-text-about-apps-wrapper h3 {
    color: rgba(255,255,255,78%);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 ;
    margin: 0 auto;
}




.card-text-about-apps-wrapper h4 {
    color: var(--dark-orange-for-cards);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}


.card-list-item p {
    color: rgba(255, 255, 255, 55%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;

}



.card-images-list {
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 25px;
}